body {
    background-color: black;
    color: white;
    font-family: Consolas, serif;
}
.title {
    font-size: 3.5em;
    text-align: center;
    width: 100%;
}
.content {
    border: 0.1em dotted white;
    padding: 2em;
    margin: 1em auto auto;
    width: 80%;
    text-align: center;
}
hr {
    margin-top: 1em;
    margin-bottom: 1em;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap:1em;
    justify-content: center;
}
.buttons > img {
    width: 15em;
    height: 15em;
    opacity: 60%;
    transition: opacity 1s;
}
.buttons > img:hover {
    opacity: 100%;
}
.opponent-area {
    height: 15em;
}
.opponent-area > img {
    width: 15em;
    height: 15em;
}
.selected-img {
    opacity: 100% !important;
}
.thinking {
    animation:spin 4s linear infinite;
}
@keyframes spin {
    0% {
        transform:rotate(0deg) scale(100%);
    }
    50% {
        transform:rotate(180deg) scale(50%);
    }
    100% {
        transform:rotate(360deg) scale(100%);
    }
}
#results {
    font-size: 10em;
}
#disclaimer {
    position: absolute;
    bottom: 2em;
    left: 1em;
}